<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Zoos Around The World!</h1>
    <p>

      <form action="/zoos/<%= author._id%>?_method=put" method="POST">
      <div>
         <label for="name">Zoo Name:</label>
         <input autofocus type="text" name="Name" id="title" value = <%= zoo.name%>>
       </div>
       <div>
          <label for="location">Location:</label>
          <input autofocus type="text" name="location" id="title" value = <%= zoo.location%>
        </div>
       <div>
         <input type="submit" value="Update">
       </div>
      </form>
    </p>
</body>
</html>